<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<table>
	<tr>
		<td>user</td>
		<td>comment</td>
		<td>video</td>
	</tr>
	<% @comment.each do |comment|%>
	<tr>
		<td><%= comment.user %></td>
		<td><%= comment.comment %></td>
		<td><%= comment.video %></td>
	</tr>
	<% end %>
</table>