// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
	list-style: none;
	line-height: 30px;
}

.body_link {
	text-decoration: none;
	color: #0d2b26;
}
.video_link{
	text-decoration: none;
	color: #FF4000;
	font-size: 20px;
}

.content{
	margin-left:20px;
}